/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.u-margin-bottom {
  margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-exbig {
  margin-bottom: 12rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-bottom-med {
  margin-bottom: 5rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.header-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5rem; }
  .header-primary--main {
    display: block;
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s; }
  .header-primary--sub {
    display: block;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInRight 1.5s ease-out;
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s; }

.heading-secondary {
  display: inline-block;
  color: white;
  font-size: 5rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .8rem;
  text-shadow: 0.6rem 0rem 0rem #880e4f;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: skewX(10); }

.heading-tertiary {
  color: white;
  font-size: 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: .3rem; }

.paragraph {
  color: white;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 4rem; }

#more {
  display: none; }

.icon1 {
  color: grey;
  font-size: 5rem; }

.text-box__para {
  color: white;
  font-size: 1.6rem;
  font-family: sans-serif;
  line-height: 2rem;
  margin-top: 2rem; }

.content {
  padding-top: 2rem;
  margin-left: 4rem; }
  .content__projecthead {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-bottom: 3rem; }
  .content__para {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 300; }

.langauge {
  display: inline;
  padding: 1.4rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#txt1 {
  background-color: #880e4f;
  color: white;
  padding: 1.2rem 1.7rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 5rem; }
  @media only screen and (max-width: 56.25em) {
    #txt1 {
      background-color: #880e4f;
      color: white;
      padding: 1rem 1rem;
      font-family: 'Roboto Slab', serif;
      font-weight: 500;
      font-size: 1rem; } }

.Project-link {
  text-decoration: none;
  color: white;
  padding: 1.5rem 3rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .Project-link {
      background-color: #880e4f;
      color: #ffffff;
      padding: 1rem 1rem;
      font-family: 'Roboto Slab', serif;
      font-weight: 500;
      font-size: 1rem; } }

#more2 {
  display: none; }

.exp-content {
  padding-top: 2rem;
  margin-left: 4rem; }

.exp-projecthead {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem; }

.exp-para {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  line-height: 2rem; }

.exp-langauge {
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#txt2 {
  margin-top: 1.5rem;
  background-color: #880e4f;
  color: white;
  padding: 1.2rem 2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 5rem; }

.contact-text-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.tertiary-heading {
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center; }

.social-contact-first {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 5rem;
  margin-left: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .social-contact-first {
      margin-left: 2rem;
      font-family: 'Roboto Slab', serif; } }

.last-contact-info {
  margin-right: 2rem; }

.icon2 {
  color: grey;
  font-size: 4rem; }

.email {
  color: white;
  font-size: 2rem; }

.email-text {
  margin-left: 2rem;
  font-family: 'Roboto Slab', serif; }

.flexfooter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer-text {
  color: white;
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.6rem 6rem;
  font-size: 1.6rem;
  position: relative;
  transition: all .3s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(153, 153, 153, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(153, 153, 153, 0.1); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s; }

.second-btn, .second-btn:link, .second-btn:active {
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  display: inline-block;
  border: none;
  outline: 2px solid #880e4f;
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  position: absolute;
  transition: all .3s;
  border-radius: 5rem;
  border: none;
  cursor: pointer; }

.second-btn:hover {
  transform: translateY(-3px);
  background-color: #880e4f;
  color: #fff; }

.second-btn:active, .second-btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn-black {
  padding: 2rem 4rem;
  right: 60rem; }
  @media only screen and (max-width: 56.25em) {
    .btn-black {
      right: 40rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-black {
      right: 25rem; } }

.main-card-container {
  background-color: #333;
  width: 100%;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column; }

.card {
  background-color: #333;
  width: 100%;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white; }
  .card__box {
    position: relative;
    top: -10;
    left: 0; }
    .card__box--img {
      width: 12rem;
      height: 12rem; }

.exp-card-container {
  background-color: #333;
  width: 100%;
  height: 320px;
  color: white;
  display: flex;
  flex-direction: column;
  border-left: 3px solid orange; }

.exp-card {
  background-color: #333;
  width: 100%;
  height: 250px;
  color: white;
  border-bottom: 1px solid white; }
  .exp-card__date {
    text-align: center;
    color: orange;
    display: block;
    margin-top: 2rem;
    font-size: 2.5rem;
    letter-spacing: .75rem; }

.composition {
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .composition {
      margin-top: 10em; } }
  @media only screen and (max-width: 37.5em) {
    .composition {
      margin-top: 10em; } }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: all .2s;
    border-radius: 60%;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #880e4f;
      transform: scale(1.05) translateY(-0.5rem); }

.skill__img {
  width: 100%; }

.img1 {
  width: 4rem;
  height: 4rem; }

.contact-img {
  width: 100%;
  height: 100%;
  border-radius: 10rem; }

.image-composition {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 3rem; }

.image1, .image2, .image3 {
  transition: all .9s; }
  .image1:hover, .image2:hover, .image3:hover {
    transform: rotate(360deg);
    border-radius: 10rem;
    box-shadow: 0 0 50px rgba(136, 14, 79, 0.7); }

.image-github-contact {
  width: 5rem;
  height: 5rem;
  border-radius: 10rem; }

.image-link-contact {
  width: 5rem;
  height: 5rem;
  border-radius: 4rem; }

.image-Insta-contact {
  width: 5rem;
  height: 5rem;
  border-radius: 10rem; }

.footer-logo {
  width: 8rem;
  height: 8rem; }

.splash {
  font-size: 3rem;
  color: white;
  background-color: #BA265D;
  font-family: cursive;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 15rem; }

.splash > h3 {
  font-size: 2rem;
  font-family: sans-serif;
  padding-top: 15rem; }

.splash.display-none {
  opacity: 0;
  font-size: 2.5rem;
  color: white;
  background-color: #BA265D;
  font-family: cursive;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 8rem;
  transition: all .3s; }

.fade-In {
  opacity: 0;
  animation: fadeIn 1s linear forwards; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.main-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr); }

.header {
  height: 85vh;
  background-image: radial-gradient(#FF3366, #880e4f);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    right: 12rem;
    transition: all .9s; }
    .header__logo-box:hover {
      transform: rotate(360deg);
      border-radius: 10rem;
      box-shadow: 0 0 7rem black; }
  .header__logo {
    width: 5rem;
    height: 5rem;
    border-radius: 10rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  backface-visibility: hidden; }
  .navigation__checkbox {
    display: none;
    backface-visibility: hidden; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#FF3366, #880e4f);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    backface-visibility: hidden; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    backface-visibility: hidden; }
  .navigation__item {
    margin: 1rem;
    backface-visibility: hidden; }
  .navigation__link {
    transition: all .5s; }
    .navigation__link:link, .navigation__link:visited {
      font-family: 'Roboto Slab', serif;
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all .4s;
      backface-visibility: hidden; }
      .navigation__link:link span, .navigation__link:visited span {
        margin-right: 1.5rem;
        display: inline-block; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #eb2f64;
      transform: translateX(1rem);
      transition: all .5s;
      border-bottom: 1px solid black;
      backface-visibility: hidden; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.aboutsection {
  background-color: #000;
  padding: 22rem 0; }
  @media only screen and (max-width: 56.25em) {
    .aboutsection {
      padding: 20em 0; } }

.skill-section {
  background-color: #000;
  padding: 20rem 0;
  margin-top: -10rem; }

.project-sections {
  background-color: #000;
  padding: 20rem 0;
  margin-top: -10rem; }

.project-button {
  text-align: center;
  display: inline-block;
  margin-left: 58rem;
  margin-top: 5rem; }

.exp-section {
  background-color: #000;
  padding: 18rem 0; }

.contact-section {
  background-color: #000;
  padding: 20rem 0 20rem 0; }

.footer-section {
  background-color: #333;
  padding: 10rem; }
