.u-margin-bottom{ margin-bottom: 2rem; }

.u-center-text { text-align: center; }

.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-bottom-exbig { margin-bottom: 12rem; }

.u-margin-bottom-small { margin-bottom: 4rem; }

.u-margin-bottom-med { margin-bottom: 5rem; }