.header-primary{

    text-transform: uppercase;
    color: $color-white;
    
    margin-bottom: 5rem;

    &--main{

        display: block;
        font-family: sans-serif;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 1.5rem;

        // animation

        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        // -webkit-animation-delay: 2s;
        // animation-delay:2s;

    }

    &--sub{

        display: block;
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1rem;

        animation: moveInRight 1.5s ease-out;
        // -webkit-animation-delay: 2s;
        // animation-delay:2s;

    }

}
.heading-secondary{

    display: inline-block;
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .8rem;


    text-shadow: .6rem 0rem 0rem rgba($color-portfolio-logo,1);
    transition: all .3s;

    &:hover{
        transform: skewX(10);
    }

}

.heading-tertiary{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;

    
}

.paragraph{

    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 4rem;

}

#more{
    display: none;
}

.icon1{
    
    color: grey;
    font-size: 5rem;

}

.text-box__para{
    color: white;
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 2rem;
    margin-top: 2rem;
}

.content{
    padding-top: 2rem;
    margin-left: 4rem;

    &__projecthead{
        font-family:'Roboto Slab', serif;
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__para{
        font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.langauge{
    display: inline;
    padding: 1.4rem 1.6rem;
    
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

#txt1{
    background-color: $color-portfolio-logo;
    color: white;
    padding: 1.2rem 1.7rem;

    font-family:'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.6rem;

    border-radius: 5rem;

    @include respond(tab-port) {

        background-color: $color-portfolio-logo;
        color: white;
        padding: 1rem 1rem;
    
        font-family:'Roboto Slab', serif;
        font-weight: 500;
        font-size: 1rem;
    
        // border-radius: 5rem;


    }
}

.Project-link{
    text-decoration: none;

    color: white;
    padding: 1.5rem 3rem;

    font-size: 1.6rem;

    @include respond(tab-port) {

        background-color: $color-portfolio-logo;
        color: #ffffff;
        padding: 1rem 1rem;
    
        font-family:'Roboto Slab', serif;
        font-weight: 500;
        font-size: 1rem;
    
        // border-radius: 5rem;

    }

}


#more2{
    display: none;
}


.exp-content{
    padding-top: 2rem;
    margin-left: 4rem;
}
.exp-projecthead{
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.exp-para{
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 2rem;
}

.exp-langauge{
    display: inline;
   
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

}

#txt2{
    // background-color: $color-portfolio-logo;
    // color: white;
    // padding: 1.2rem 2rem;

    margin-top:1.5rem;
    background-color: $color-portfolio-logo;
    color: white;
    padding: 1.2rem 2rem;

    font-family:'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.6rem;

    border-radius: 5rem;

   
}

.contact-text-box{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.tertiary-heading{
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

.social-contact-first{
    
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    align-content:space-between;

    margin-top: 5rem;
    margin-left: 10rem;

    @include respond(tab-port) {

    margin-left: 2rem;
    font-family:'Roboto Slab', serif;
    
    }


}

.last-contact-info{
    margin-right: 2rem;
}

.icon2{
    color: grey;
    font-size: 4rem;
   
}

.email{
    color:white;
    font-size: 2rem;

    
    
}
.email-text{
    margin-left: 2rem;
    font-family:'Roboto Slab', serif;


}

.flexfooter-container{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.footer-text{
    color: white;
    font-size: 1.6rem;
    font-family:'Roboto Slab', serif;
}